{
    "extensionsPath": "the_extensions_path",
    "extConfFilepath": "the_extension_path",
    "extConfFile": "extensions-config.json",
    "langs": ["en-GB", "es-ES"],
    "motherLanguage": "es-ES"
}