{
    "components": ["content"],
    "plugins": {
        "content": ["foo"],
        "system": ["bar"],
        "foo": ["bar]
    },
    "modules": {
        "site": ["foo", "bar"],
        "admin": ["foo"]
    },
    "packages": "foo"
}